body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header-section{
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
}

.header-area{
  text-align: center;
  padding-top: 100px;
  color: white;
}

.header-text{
  font-weight: 700;
  font-size: 50px;
}

.header-paragraph{
  padding-bottom: 40px;
}

.header-section-button{
  text-decoration: none;
  background-color: tomato;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: bold;
}